# IAB303 - Assignment 1
## Foundational Data Analytics Techniques

#### INSTRUCTIONS

1. Complete the section below with your personal details (and run the cell)
2. Complete the full **QDAVI** data analytics cycle for **ONE** scenario selected from the choices below. Ensure that you complete the cycle by addressing the question with your insights.
3. Ensure that you use markdown cells to document your thinking and decision making for each stage of the process. Be clear on how your decisions are working towards addressing the question.
4. Ensure that your code runs without errors, and that your results are appropriate for the question.
5. Use comments in your code to explain what you are doing
6. Before handing in your notebook, clear all cell outputs and run the complete notebook. Ensure that it runs without errors and that all output is displaying
7. Right-click on your notebook name (in file viewer) and select download. Ensure that your name and student ID are on the file, and then upload to the appropriate assignment upload link in blackboard.

In [ ]:
# Complete the following cell with your details and run to produce your personalised header for this assignment

from IPython.core.display import display, HTML

first_name = ???
last_name = ???
student_number = ???

personal_header = "<h1>"+first_name+" "+last_name+" ("+student_number+")</h1>"
display(HTML(personal_header))

SyntaxError: invalid syntax (<ipython-input-10-ceae38b52ac1>, line 5)

---

## SCENARIOS

### Pick one of the following scenarios for your Data Analysis: 

1. Your small business client is a local Brisbane coffee shop which is gaining popularity. The owner is wanting to capitalise on this popularity by opening two drive-through coffee outlets on busy Brisbane roads in two of the following areas (Bayside, Inner North, Inner South, or Western Suburbs). They want to know what location might be best, and why, and the location of competitors and how they are marketing their products.

2. Your company specialises in travel advise for tourists coming to Australia. They are looking to create an app that provides low cost experiences around Brisbane by linking together public transport, public parks and spaces, museums, galleries, and also free public events. They would like to know if this idea is possible.

3. A group of surfers want to start a business that connects tourists with a 24 hour surfing experience on north or south coasts, involving over night accommodation and transport to a local surf spot. In order to deliver best experience within a fixed cost, they need to balance distance and traffic with weather and wave height. They want to know the best period of the year to run this service, which areas should be used for the overnight accommodation, and whether they can get near realtime data to allow them to decide whe which beach they are travelling to before  5:00am (their planned pickup time from the hotel).

---


### SCENARIO1

I chosed the scenario 1 , the aim is to give advices to a small business who wants to open new drive-thru coffe shops. The first concern of the client is to identify the best locations to open the shops.

In [91]:
# import libraries for this question here
import pandas as pd
import matplotlib.pyplot as plt
import json    
import requests
import re

In [ ]:
!pip install folium
import folium

##QDAVI data analytics cycle 1

### [1] Question

** Question1 : Where we have the highest traffic volume in these Brisbane Areas (Bayside, Inner North, Inner South, or Western Suburbs)?**
* The main business concern is to identify the best areas to open new drive-thru coffe shops , The best areas are the one with the busiest roads in Brisbane suburbs. The identification of areas with highest road traffic will help us to understand which areas have the highest number of drivers going on their roads. Because, the more we have drivers on road, the highest is the number of people who will pass through the coffe shop.

* The primary stakeholders are the business owner (decide best way to expand the business), the client (ensure having enough client for the new business location , and ensure customer statisfaction)

### [2] Data

For this task, we are going to download and use two datasets from https://data.gov.au/  that will help us to understand what is the traffic volumes on Brisbane intersections. We added also a file that indicates each subrub is located in which area.

* The first one is 'intersection_locations.json' wich includes all the intersection details  of the city
* The second one is 'intersection_volumes.json'wich includes the average occupancy time of a lane (it gives us a percentage of how much the lane is occupied)
* The thrid file 'SuburbAreas.csv' indicates  subrub's location

In [101]:
# Import the data and read the json results
 

# Read the content from the two files downloaded    
intersection_locations_file = open('intersection_locations.json', 'r')
intersection_locations_raw_text = intersection_locations_file.read()

intersection_volumes_file = open('intersection_volumes.json', 'r')
intersection_volumes_raw_text = intersection_volumes_file.read()


# Read the json results , it gives us a list of dictionnary
intersection_locations_data = json.loads(intersection_locations_raw_text)
intersection_volumes_data = json.loads(intersection_volumes_raw_text)



# Reat the list of brisbane Subrubs
suburbs = pd.read_csv('SuburbAreas.csv')

In [102]:
# Let's identify one dictionary sample of the intersection location json dictionnary
intersection_locations_data[0]

{'areaNum': 'B0001',
 'arms': [{'arm': 1,
   'azimuth': 320,
   'detectors': [],
   'leftLaneCount': 0,
   'nextTsc': 71,
   'rightLaneCount': 3,
   'slipLaneCount': 0,
   'streetName': 'GEORGE ST'},
  {'arm': 2,
   'azimuth': 140,
   'detectors': [],
   'leftLaneCount': 3,
   'nextTsc': 72,
   'rightLaneCount': 0,
   'slipLaneCount': 0,
   'streetName': 'GEORGE ST'},
  {'arm': 3,
   'azimuth': 230,
   'detectors': [],
   'leftLaneCount': 2,
   'rightLaneCount': 1,
   'slipLaneCount': 0,
   'streetName': 'TANK ST'}],
 'coordinates': {'amg': {'easting': 502033,
   'hemisphere': 'South',
   'northing': 6961733,
   'zone': 56},
  'latLng': {'latitude': -27.467951, 'longitude': 153.020577},
  'ubd': {'grid': 'Q20', 'page': 1}},
 'region': 'CITY',
 'scatsVersion': '6.9.3',
 'subsystem': 2662,
 'suburb': 'CITY',
 'tsc': 1}

In [103]:
# Let's identify one dictionary sample of the intersection volumes data  dictionnary
intersection_volumes_data[1]

{'ct': 80,
 'dbid': 2147483452,
 'ds1': 0,
 'ds2': 0,
 'lane': 'SA-344',
 'link_plan': 2,
 'married': 'Y',
 'mf1': 0,
 'mf2': 0,
 'recorded': '2020-08-07T23:22:00',
 'rf1': 0,
 'rf2': 0,
 'ss': 2441,
 'tsc': 75}

### [3] Analysis

In [104]:
# let's create a dataframe with useful data from the intersection_locations_data
df_locations  = pd.DataFrame.from_dict(intersection_locations_data)
df_locations

,areaNum,arms,coordinates,region,scatsVersion,subsystem,suburb,tsc
0,B0001,"[{'arm': 1, 'rightLaneCount': 3, 'leftLaneCoun...","{'ubd': {'grid': 'Q20', 'page': 1}, 'amg': {'h...",CITY,6.9.3,2662,CITY,1
1,B0002,"[{'arm': 1, 'rightLaneCount': 4, 'leftLaneCoun...","{'amg': {'hemisphere': 'South', 'northing': 69...",CITY,6.9.3,2663,CITY,2
2,B0003,"[{'arm': 1, 'rightLaneCount': 2, 'leftLaneCoun...","{'ubd': {'grid': 'D20', 'page': 2}, 'amg': {'h...",CITY,6.9.3,2664,CITY,3
3,B0004,"[{'arm': 1, 'rightLaneCount': 0, 'leftLaneCoun...","{'ubd': {'grid': 'G18', 'page': 2}, 'amg': {'h...",CITY,6.9.3,2665,CITY,4
4,B0005,"[{'arm': 1, 'rightLaneCount': 0, 'leftLaneCoun...","{'ubd': {'grid': 'H17', 'page': 2}, 'amg': {'h...",CITY,6.9.3,2666,CITY,5
5,B0006,"[{'arm': 1, 'rightLaneCount': 4, 'leftLaneCoun...","{'ubd': {'grid': 'K15', 'page': 2}, 'amg': {'h...",CITY,6.9.3,2667,CITY,6
6,B0007,"[{'arm': 1, 'rightLaneCount': 2, 'leftLaneCoun...","{'ubd': {'grid': 'M13', 'page': 2}, 'amg': {'h...",CITY,6.9.3,2668,CITY,7
7,B0008,"[{'arm': 1, 'detectors': [], 'leftLaneCount': ...","{'ubd': {'grid': 'C4', 'page': 2}, 'amg': {'he...",CITY,6.9.3,2669,CITY,8
8,B0009,"[{'arm': 1, 'rightLaneCount': 1, 'leftLaneCoun...","{'ubd': {'grid': 'L1', 'page': 22}, 'amg': {'h...",CITY,6.9.3,2670,CITY,9
9,B0010,"[{'arm': 1, 'rightLaneCount': 0, 'leftLaneCoun...","{'ubd': {'grid': 'P10', 'page': 159}, 'amg': {...",CITY,6.9.3,2671,CITY,10
10,B0011,"[{'arm': 1, 'rightLaneCount': 4, 'leftLaneCoun...","{'ubd': {'grid': 'Q10', 'page': 159}, 'amg': {...",CITY,6.9.3,2672,CITY,11
11,B0012,"[{'arm': 1, 'rightLaneCount': 2, 'leftLaneCoun...","{'ubd': {'grid': 'R9', 'page': 159}, 'amg': {'...",CITY,6.9.3,2673,CITY,12
12,B0013,"[{'arm': 1, 'rightLaneCount': 0, 'leftLaneCoun...","{'ubd': {'grid': 'N12', 'page': 159}, 'amg': {...",CITY,6.9.3,2674,CITY,13
13,B0014,"[{'arm': 1, 'rightLaneCount': 3, 'leftLaneCoun...","{'ubd': {'grid': 'N12', 'page': 159}, 'amg': {...",CITY,6.9.3,2675,CITY,14
14,B0015,"[{'arm': 1, 'rightLaneCount': 0, 'leftLaneCoun...","{'ubd': {'grid': 'A14', 'page': 140}, 'amg': {...",LUTWCH,6.9.3,2914,WINDSOR,15
15,B0016,"[{'arm': 1, 'detectors': [], 'leftLaneCount': ...","{'ubd': {'grid': 'P20', 'page': 18}, 'amg': {'...",CITY,6.9.3,2676,CITY,16
16,B0017,"[{'arm': 1, 'rightLaneCount': 4, 'leftLaneCoun...","{'ubd': {'grid': 'Q10', 'page': 159}, 'amg': {...",CITY,6.9.3,2677,CITY,17
17,B0018,"[{'arm': 1, 'rightLaneCount': 2, 'leftLaneCoun...","{'ubd': {'grid': 'R9', 'page': 159}, 'amg': {'...",CITY,6.9.3,2678,CITY,18
18,B0019,"[{'arm': 1, 'rightLaneCount': 2, 'leftLaneCoun...","{'ubd': {'grid': 'R8', 'page': 159}, 'amg': {'...",CITY,6.9.3,2679,CITY,19
19,B0021,"[{'arm': 1, 'rightLaneCount': 3, 'leftLaneCoun...","{'ubd': {'grid': 'P12', 'page': 159}, 'amg': {...",CITY,6.9.3,2680,CITY,21
20,B0022,"[{'arm': 1, 'rightLaneCount': 1, 'leftLaneCoun...","{'ubd': {'grid': 'P11', 'page': 159}, 'amg': {...",CITY,6.9.3,2681,CITY,22
21,B0023,"[{'arm': 1, 'rightLaneCount': 0, 'leftLaneCoun...","{'ubd': {'grid': 'Q11', 'page': 159}, 'amg': {...",CITY,6.9.3,2682,CITY,23
22,B0024,"[{'arm': 1, 'rightLaneCount': 4, 'leftLaneCoun...","{'ubd': {'grid': 'Q11', 'page': 159}, 'amg': {...",CITY,6.9.3,2683,CITY,24
23,B0025,"[{'arm': 1, 'rightLaneCount': 4, 'leftLaneCoun...","{'ubd': {'grid': 'R10', 'page': 159}, 'amg': {...",CITY,6.9.3,2684,CITY,25
24,B0026,"[{'arm': 1, 'rightLaneCount': 3, 'leftLaneCoun...","{'ubd': {'grid': 'R10', 'page': 159}, 'amg': {...",CITY,6.9.3,2685,CITY,26
25,B0027,"[{'arm': 1, 'rightLaneCount': 2, 'leftLaneCoun...","{'ubd': {'grid': 'P9', 'page': 159}, 'amg': {'...",CITY,6.9.3,2686,CITY,27
26,B0028,"[{'arm': 1, 'rightLaneCount': 3, 'leftLaneCoun...","{'ubd': {'grid': 'H18', 'page': 140}, 'amg': {...",CITY,6.9.3,2687,HAMILTON,28
27,B0029,"[{'arm': 1, 'rightLaneCount': 1, 'leftLaneCoun...","{'ubd': {'grid': 'A16', 'page': 159}, 'amg': {...",NORMAN,6.9.3,2432,TOOWONG,29
28,B0030,"[{'arm': 1, 'rightLaneCount': 3, 'leftLaneCoun...","{'ubd': {'grid': 'R17', 'page': 140}, 'amg': {...",CITY,6.9.3,2688,HAMILTON,30
29,B0031,"[{'arm': 1, 'rightLaneCount': 2, 'leftLaneCoun...","{'ubd': {'grid': 'L5', 'page': 178}, 'amg': {'...",INDPIL,6.9.3,2556,INDOOROOPILLY,31
...,...,...,...,...,...,...,...,...
984,B8074,"[{'arm': 1, 'rightLaneCount': 2, 'leftLaneCoun...","{'amg': {'hemisphere': 'South', 'northing': 69...",INDPIL,6.9.3,2659,ST LUCIA,8074
985,B8075,"[{'arm': 1, 'rightLaneCount': 0, 'leftLaneCoun...",NaN,CITY,6.9.3,2777,EAGLE FARM,8075
986,B8076,"[{'arm': 1, 'rightLaneCount': 1, 'leftLaneCoun...",NaN,LUTWCH,6.9.3,3038,FORTITUDE VALLEY,8076
987,B8077,"[{'arm': 1, 'rightLaneCount': 1, 'leftLaneCoun...","{'amg': {'hemisphere': 'South', 'northing': 69...",ABBOTS,6.9.3,3046,FORTITUDE VALLEY,8077
988,B8078,"[{'arm': 1, 'rightLaneCount': 1, 'leftLaneCoun...","{'amg': {'hemisphere': 'South', 'northing': 69...",CITY,6.9.3,2778,NEWSTEAD,8078
989,B8079,"[{'arm': 1, 'rightLaneCount': 1, 'leftLaneCoun...","{'amg': {'hemisphere': 'South', 'northing': 69...",ABBOTS,6.9.3,2134,HENDRA,8079
990,B8080,"[{'arm': 1, 'rightLaneCount': 3, 'leftLaneCoun...","{'amg': {'hemisphere': 'South', 'northing': 69...",LUTWCH,6.9.3,3039,HERSTON,8080
991,B8081,"[{'arm': 1, 'rightLaneCount': 2, 'leftLaneCoun...","{'ubd': {'grid': 'B10', 'page': 110}}",ABBOTS,6.9.3,2135,BRACKEN RIDGE,8081
992,B8083,"[{'arm': 1, 'rightLaneCount': 2, 'leftLaneCoun...",NaN,NORMAN,6.9.3,2550,TOOWONG,8083
993,B8084,"[{'arm': 1, 'rightLaneCount': 1, 'leftLaneCoun...",NaN,ABBOTS,6.9.3,2136,NUDGEE,8084
994,B8085,"[{'arm': 1, 'rightLaneCount': 2, 'leftLaneCoun...","{'ubd': {'grid': 'A18', 'page': 181}, 'amg': {...",NORMAN,6.9.3,2551,KEPERRA,8085
995,B8086,"[{'arm': 1, 'rightLaneCount': 2, 'leftLaneCoun...","{'amg': {'hemisphere': 'South', 'northing': 69...",LUTWCH,6.9.3,3040,TAIGUM,8086
996,B8087,"[{'arm': 1, 'rightLaneCount': 1, 'leftLaneCoun...","{'amg': {'hemisphere': 'South', 'northing': 69...",NORMAN,6.9.3,2552,HERSTON,8087
997,B8088,"[{'arm': 1, 'detectors': [], 'leftLaneCount': ...","{'amg': {'hemisphere': 'South', 'northing': 69...",ABBOTS,6.9.3,2137,ASCOT,8088
998,B8089,"[{'arm': 1, 'rightLaneCount': 1, 'leftLaneCoun...","{'amg': {'hemisphere': 'South', 'northing': 69...",ABBOTS,6.9.3,2138,ASCOT,8089
999,B8090,"[{'arm': 1, 'rightLaneCount': 1, 'leftLaneCoun...","{'amg': {'hemisphere': 'South', 'northing': 69...",NORMAN,6.9.3,2553,UPPER KEDRON,8090
1000,B8091,"[{'arm': 1, 'rightLaneCount': 1, 'leftLaneCoun...","{'amg': {'hemisphere': 'South', 'northing': 69...",NORMAN,6.9.3,2554,UPPER KEDRON,8091
1001,B8092,"[{'arm': 1, 'rightLaneCount': 2, 'leftLaneCoun...","{'amg': {'hemisphere': 'South', 'northing': 69...",LUTWCH,6.9.3,3041,WILSTON,8092
1002,B8093,"[{'arm': 1, 'rightLaneCount': 2, 'leftLaneCoun...","{'amg': {'hemisphere': 'South', 'northing': 69...",ABBOTS,6.9.3,2139,BRACKEN RIDGE,8093
1003,B8094,"[{'arm': 1, 'rightLaneCount': 2, 'leftLaneCoun...","{'ubd': {'grid': 'F8', 'page': 178}, 'amg': {'...",INDPIL,6.9.3,2660,INDOOROOPILLY,8094
1004,B8095,"[{'arm': 1, 'rightLaneCount': 1, 'leftLaneCoun...",NaN,LUTWCH,6.9.3,3042,WAVELL HEIGHTS,8095
1005,B8096,"[{'arm': 1, 'rightLaneCount': 2, 'leftLaneCoun...","{'amg': {'hemisphere': 'South', 'northing': 69...",ABBOTS,6.9.3,2140,WAVELL HEIGHTS,8096
1006,B8098,"[{'arm': 1, 'rightLaneCount': 2, 'leftLaneCoun...","{'amg': {'hemisphere': 'South', 'northing': 69...",NORMAN,6.9.3,2555,ENOGGERA,8098
1007,B8099,"[{'arm': 1, 'rightLaneCount': 2, 'leftLaneCoun...","{'amg': {'hemisphere': 'South', 'northing': 69...",CITY,6.9.3,3061,HAMILTON,8099
1008,B8100,"[{'arm': 1, 'rightLaneCount': 2, 'leftLaneCoun...","{'amg': {'hemisphere': 'South', 'northing': 69...",CITY,6.9.3,2780,HAMILTON,8100
1009,B8103,"[{'arm': 1, 'rightLaneCount': 2, 'leftLaneCoun...",NaN,LUTWCH,6.9.3,3049,GRANGE,8103
1010,B8105,"[{'arm': 1, 'detectors': [], 'leftLaneCount': ...",NaN,LUTWCH,6.9.3,3044,ICB OFF HERSTON RD,8105
1011,B8106,"[{'arm': 1, 'rightLaneCount': 2, 'leftLaneCoun...","{'amg': {'hemisphere': 'South', 'northing': 69...",LUTWCH,6.9.3,3064,CHERMSIDE,8106
1012,B8578,"[{'arm': 1, 'rightLaneCount': 2, 'leftLaneCoun...","{'ubd': {'grid': 'R12', 'page': 161}, 'amg': {...",NaN,NaN,NaN,TINGALPA,8578
1013,B8685,"[{'arm': 1, 'rightLaneCount': 2, 'leftLaneCoun...","{'ubd': {'grid': 'G3', 'page': 181}, 'amg': {'...",NaN,NaN,NaN,CARINA,8685

In [105]:
#let's remove all the unnecessary information
df_locations_filtered = df_locations.drop(['areaNum','arms','coordinates','scatsVersion'],axis=1)

#let's rename subsystem column ss to match same column name in volume table
df_locations_filtered = df_locations_filtered.rename(columns={'subsystem':'ss'})

In [106]:
# We do the same for the volume dictionary
df_volumes = pd.DataFrame.from_dict(intersection_volumes_data)

# Let's check the traffic volumes dataframe columns
df_volumes.columns

Index(['ct', 'dbid', 'ds1', 'ds2', 'ds3', 'ds4', 'lane', 'link_plan',
       'married', 'mf1', 'mf2', 'mf3', 'mf4', 'recorded', 'rf1', 'rf2', 'rf3',
       'rf4', 'ss', 'tsc'],
      dtype='object')

In [107]:
# filter the useful information and select the average occupancy percentage and id 
df_volumes_filtered = df_volumes.filter(['ds1','ds2','ds3','ds4','tsc', 'ss'])

#We can now identify many input for the same  ss & tsc values so we need to calculate the average for each  ss && tsc 
# so let's group by 'tsc' && 'ss'
df_volumes_filtered_grouped = df_volumes_filtered.groupby([ 'tsc', 'ss']).mean()

# we caluclate the average for all lanes
df_volumes_filtered_grouped['Avg Occ']=df_volumes_filtered_grouped[['ds1','ds2','ds3','ds4']].mean(axis=1)
#remove the value per lane and keep the average
df_volumes_filtered_grouped =df_volumes_filtered_grouped.drop(['ds1','ds2','ds3','ds4'],axis=1)

# reset tsc as a column
df_volumes_filtered_grouped=df_volumes_filtered_grouped.reset_index()

In [108]:
#We Check the list of suburb locations and we put the names in Upper case in order to fit with intersection subrubs
suburbs['suburb'] = suburbs['suburb'].str.upper()

In [109]:
# we create one table by merging the locations and volume table
df_final = pd.merge(df_volumes_filtered_grouped, df_locations_filtered,  how='inner', left_on=['ss','tsc'], right_on = ['ss','tsc'])
df_final =df_final.drop(['tsc','ss'],axis=1)
df_final_grouped = df_final.groupby(['region','suburb']).mean()
df_final_grouped =df_final_grouped.reset_index()

In [110]:
#classify each suburb in the corresponding area by merging the surub dataframe with df_final_grouped
df_final_area = pd.merge(df_final_grouped, suburbs,  how='left', left_on=['suburb'], right_on = ['suburb'])

#Group the data by areas and show the table
df_final_area_grouped = df_final_area.groupby(['Area']).mean()
df_final_area_grouped = df_final_area_grouped.reset_index()

#Filter The list of Areas to be checked based on the client request
List_Areas=['Bayside ','Inner North','Inner South' , 'Western Suburb' ]
df_final_area_grouped = df_final_area_grouped[df_final_area_grouped['Area'].isin(List_Areas)]
df_final_area_grouped

             Area   Avg Occ
0        Bayside   1.459167
4     Inner North  7.977205
5     Inner South  6.578133
8  Western Suburb  5.415022

In [111]:
# In order to visualise the intersection on maps we create this function 
# to identify for a given intersection id what is the traffic volume for lane 1
def traffic_ds1(ss,tsc):
    for record in intersection_volumes_data:
        if ((record['ss'] == ss) and (record['tsc'] == tsc)):
            return record['ds1']
    return None

# For visualization purpose we create this function in order to create a vector of longitude and latitude for each intersection

def item_lat_lng(item):
    return [item['coordinates']['latLng']['latitude'], item['coordinates']['latLng']['longitude']]

### [4] Visualisation

In [ ]:
# We set the Map settings

map_of_intersections = folium.Map(
    location=item_lat_lng(intersection_locations_data[0]),
    zoom_start=11, tiles='Stamen Terrain'
)

# Then we add all the coordinates to the map from the intersection data.

for coordinate in intersection_locations_data:
    try:
        density_reading = traffic_ds1(coordinate['subsystem'], coordinate['tsc'])
        if (density_reading != None):
            folium.Circle(
                radius=density_reading*20,
                location=item_lat_lng(coordinate),
                color='crimson',
                fill=True,
                fill_opacity=0.3,
                weight=0).add_to(map_of_intersections)
    except:
        pass
map_of_intersections# Visualise the results

In [112]:
# We visualise the road occupancy (traffic volume) per Area
df_final_area_grouped.plot(kind='bar')
plt.title('Average Road Occupancy Per Area [%]')
plt.xlabel('Area')
plt.ylabel('Average Road Occupancy %')

### [5] Insight

We can conclude from the map that there are many spots with a concentration of high traffic volume, Brisbane (city center) , The inner north subrub (Windsor) , the inner south suburb and the western subrubs. 

In order to select the suburbs with highest traffic , we calculated the average occupancy of roads for each Areas and the 
displayed in a bar chart. We can identify that Brisbane **Inner north** and **Inner South** have the highest road occupancy. 

We recommand the client that these two areas  **Inner north** and **Inner South**  are the most interesting locations to open  drive-thru shops since they have the highest number of drivers , as a result the highest chance to have more customers.

##QDAVI data analytics cycle 2

###  [1] Question 2

**Where are located the competition ?  and how they are selling their common products?**

We can check where the customers are located in order to identify the areas where already customers are used to come to buy from drive-thru coffee shops. Moreover if we have the avereage price of how they are selling the most consumed products (Latte, Cappucino , Flat White, Tea,...) will help the client to identify the best pricing for the beverage.

### [2] Data

We did not find a database of the list of coffee shops in Brisbane, we created a short list by searching on google earth and we put the data in the file ListDriveThruCoffeeShop.csv

In [46]:
# read the drive thru coffee shops file  in a dataframe
shops=pd.read_csv('ListDriveThruCoffeeShop.csv')

###[3] Analysis

In [47]:
# We check the dataframe data columns
shops

,Shop,Suburb,Area,Latte Small,Cappucino Small,Flat White Small,Tea
0,Zarrafa,Cannon Hill,Eastern suburbs,4.0,4.0,4.0,4.0
1,Wicked Brew,Cannon Hill,Eastern suburbs,4.2,4.2,4.2,3.0
2,The Coffee Club,Tingalpa,Eastern suburbs,4.2,4.2,4.2,4.2
3,Merlo Coffee Fortitude Valley Torrefazione,Fortitude Valley,Northern suburbs,4.0,4.0,4.0,4.0
4,Zarrafa,Hendra,Northern suburbs,4.0,4.0,4.0,4.0
5,Zarrafa,Keperra,Western suburbs,4.0,4.0,4.0,4.0
6,Zarrafa,Boondall,Northern suburbs,4.0,4.0,4.0,4.0
7,Inbound Espresso,Lutwyche,Northern suburbs,4.0,4.0,4.0,4.0
8,Taste My Bean,Geebung,Northern suburbs,3.9,3.9,3.9,3.9
9,Zarrafa,Richlands,Western suburbs,4.0,4.0,4.0,4.0
10,Zarrafa,Heathwood,Heathwood suburbs,4.0,4.0,4.0,4.0
11,Gloria Jeans,Moorooka,Southern suburbs,4.8,4.8,4.8,4.1
12,Gloria Jeans,Coopers Plains,Southern suburbs,4.8,4.8,4.8,4.1
13,The Coffee Club Cafe,Redland Bay,Bayside suburbs,4.0,4.0,4.0,4.0

In [50]:
# We count the number of drive thru shops in Brisbane city and group them by Location
shop_count=shops.groupby(['Area'])['Shop'].count()
shop_count =shop_count.reset_index()

List_Areas=['Western suburbs','Southern suburbs' , 'Northern suburbs' ,'Bayside suburbs']
shop_count = shop_count[shop_count['Area'].isin(List_Areas)]
shop_count

               Area  Shop
0   Bayside suburbs     1
3  Northern suburbs     5
4  Southern suburbs     2
5   Western suburbs     2

In [51]:
#We calculate the average cost of classic hot beverages in Brisbane
Avg_Beverage_Cost=shops[['Latte Small','Cappucino Small','Flat White Small','Tea']].mean()
Avg_Beverage_Cost

Latte Small         4.135714
Cappucino Small     4.135714
Flat White Small    4.135714
Tea                 3.950000
dtype: float64

###[4] Visualisation

In [52]:
# we can now visualise the  number of drive-thru shops per subur
shop_count.plot(kind='bar')
plt.title("Number of Drive-thru coffe shops")

In [53]:
# let's visualise the data on a graph
Avg_Beverage_Cost.plot(kind='bar' )
plt.title(' Average cost of small beverages for Brisbane drive-thru coffee shops')

### [5] Insight

From visualisation we can identify that the existing drive thru coffee shops are concentrated in inner north , south suburbs and western suburbs have both two drive-thru coffee shops. Please note that this result is a very first insight because we don't have an exhaustive list of drive-thru coffee shops in Brisbane.

In terms of marketing we identified that common beverages like (Latte, Flat White, Cappucino) are priced in average 4.1 AUD in average this could give a first insight for our client to identify the best pricing strategy.

##QDAVI data analytics cycle 3

###  [1] Question 3

** What is the number of schools in each area?** 

Busy parents are target customers of Drive-thru coffee so it is an advantage to open a drive-thru coffee shop near the schools. In order to target parents who are driving their children to school, let's check which Area have the highest number of schools (state and non-state)

### [2] Data

In [53]:
# We read  the data from a csv file
df_schools = pd.read_csv('CentreDetails_May_2020.csv')

In [57]:
#We check the content of the file
df_schools.columns

Index(['Centre Code', 'Centre Name', 'Centre Type', 'Centre Status',
       'Host Centre Code', 'Host Centre Name', 'Official Low Year Level',
       'Official High Year Level', 'Officer In Charge Title', 'School Band',
       'Show Holiday Date', 'Internet Site', 'Phone Number',
       'Restrict Contact Outside Teaching Hours', 'Fax Number',
       'Actual Address Line 1', 'Actual Address Line 2',
       'Actual Address Line 3', 'Actual Address Post Code',
       'Postal Address Line 1', 'Postal Address Line 2',
       'Postal Address Line 3', 'Postal Address Post Code',
       'Education Geographic Region', 'Federal Electorate', 'State Electorate',
       'Local Government Area', 'Statistical Area Level2',
       'Statistical Area Level2 Code', 'Remoteness Area',
       'Enrolment Effective Date', 'All Student Count',
       'Campus All Student Count', 'ABN', 'Sector', 'Non-State Sector',
       'Longitude', 'Latitude'],
      dtype='object')

### [3] Analysis

In [113]:
# We will select the important information that we need
Select_List = ['Centre Name', 'Actual Address Line 2',
       'Actual Address Line 3', 'Actual Address Post Code','All Student Count','Local Government Area']

df_schools = df_schools.filter(Select_List,axis=1)

In [114]:
# We select only Brisbane schools by filtering Local Government Area
df_schools_Brisbane = df_schools[df_schools['Local Government Area']=='Brisbane (C)']

In [ ]:
# We set the subrub column as an  upper case from the address line 3
df_schools_Brisbane['Suburb']=df_schools_Brisbane['Actual Address Line 3'].str.upper()

In [116]:
# We add the subrub area information to the dataframe
df_Schools_Brisbane_WithArea =  pd.merge(df_schools_Brisbane, suburbs,  how='left', left_on=['Suburb'], right_on = ['suburb'])

array([], dtype=object)

In [118]:
# We Group schools by Area
# We count the number of schools per Area
df_Schools_grouped_count= df_Schools_Brisbane_WithArea.groupby(['Area'])['Centre Name'].count()

# We count the number of students per Area
df_NbStudents_grouped= df_Schools_Brisbane_WithArea.groupby(['Area'])['All Student Count'].sum()

In [137]:
df_Schools_grouped_count.reset_index

<bound method Series.reset_index of Area
Bayside            22
City               10
Eastern Suburb      5
Inner East         18
Inner North        23
Inner South        35
Inner West          1
Northern Suburb    55
Southern Suburb    87
Western Suburb     56
Name: Centre Name, dtype: int64>

In [142]:
# let's filter with areas requested 
List_Areas=['Bayside ','Inner North','Inner South' , 'Western Suburb' ]
Count_Schools_PerArea = df_Schools_grouped_count[List_Areas]
Nb_Students_PerArea =  df_NbStudents_grouped[List_Areas]

In [143]:
Count_Schools_PerArea

Area
Bayside           22
Inner North       23
Inner South       35
Western Suburb    56
Name: Centre Name, dtype: int64

In [144]:
Nb_Students_PerArea

Area
Bayside            7509
Inner North        9871
Inner South       15820
Western Suburb    28421
Name: All Student Count, dtype: float64

### [4] Visualisation

In [139]:
# Visualisation of number of schools
Count_Schools_PerArea.plot(kind='bar')
plt.title('Number of Schools per Area')
plt.xlabel('Area')
plt.ylabel('Number of schools')

In [147]:
# Visualisation of number of students per Area
Nb_Students_PerArea.plot(kind='bar')
plt.title('Number of Students in Schools per Area')
plt.xlabel('Area')
plt.ylabel('Number of students in schools')

### [5] Insight

From the visualisation part we can see that **Inner South** has more schools and more students compared to **Inner North** . And **Western suburbs** has biggest number of schools and students since it covers a wider geographical area.